@font-face {
    font-family: 'icomoon';
    src: url('../fonts/icomoon.woff?31m82a') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-mail:before {
    content: "\e90e";
    color: #0eb493;
}

.icon-search-arrow:before {
    content: "\e90f";
    color: #fff;
}

.icon-branding-icon:before {
    content: "\e904";
}

.icon-clock-icon:before {
    content: "\e905";
    color: #fff;
}

.icon-consulting-icon:before {
    content: "\e906";
}

.icon-cup-icon:before {
    content: "\e907";
    color: #fff;
}

.icon-development-icon:before {
    content: "\e908";
}

.icon-eye-icon:before {
    content: "\e909";
}

.icon-forrst-icon:before {
    content: "\e90a";
}

.icon-friends-icon:before {
    content: "\e90b";
    color: #fff;
}

.icon-heart:before {
    content: "\e90c";
}

.icon-rocket-icon:before {
    content: "\e90d";
    color: #fff;
}

.icon-dribble:before {
    content: "\e900";
    color: #fff;
}

.icon-facebook:before {
    content: "\e901";
    color: #fff;
}

.icon-google-plus:before {
    content: "\e902";
    color: #fff;
}

.icon-twitter:before {
    content: "\e903";
    color: #fff;
}

.icon-behance:before {
    content: "\eaa8";
}